<div class="col-md-6">
    <h2> Lista Puertos</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>Puerto</th>
                <th>Velocidad</th>
                <th>Bits de datos</th>
                <th>Bits de stop</th>
                <th>Paridad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let port of ports">
                <td class="hidden">{{port.id}}</td>
                <td>{{port.port}}</td>
                <td>{{port.baudrate}}</td>
                <td>{{port.databits}}</td>
                <td>{{port.stopbits}}</td>
                <td>{{port.parity}}</td>
                <td><button class="btn btn-danger" (click)="updatePort(port)"> Editar Puerto</button></td>
            </tr>
        </tbody>
    </table>
</div>