<div class="col-md-6">
    <h2> Lista Puertos</h2>

    <table class="table table-striped text-center text-nowrap">
        <thead>
            <tr>
                <th style="display:none">Id</th>
                <th>Puerto</th>
                <th>Velocidad</th>
                <th>Bits de datos</th>
                <th>Bits de stop</th>
                <th>Paridad</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let port of ports">
                <td style="display:none">{{port.id}}</td>
                <td>{{port.port}}</td>
                <td>{{port.baudrate}}</td>
                <td>{{port.databits}}</td>
                <td>{{port.stopbits}}</td>
                <td>{{port.paritybits}}</td>
                <td>{{estado}}</td>
                <!-- <td><a class="btn btn-info btn-sm" role="button" routerLink="/search/1">Editar</a></td> -->
                <!-- <td><a [routerLink]="['/detail', 1]" (click)="setPortSelected(port.id)">Editar</a></td> -->
                <td>
                    <a routerLink="/detail/{{port.id}}/{{port.port}}/{{port.baudrate}}/{{port.databits}}/{{port.stopbits}}">Editar</a>
                </td>
                <td><button class="btn btn-danger btn-sm" (click)="updatePort(port)">Eliminar</button></td>
                <td *ngIf="!showActions"><button class="btn btn-success btn-sm" (click)="connectPort(port)">Conectar</button></td>
                <td *ngIf="showActions"><button class="btn btn-success btn-sm" (click)="disconnectPort(port)">Desconectar</button></td>
            </tr>
        </tbody>
        {{this.porta.id}}
    </table>
</div>